


.text-box{
	margin-left:3rem;
	margin-right:3rem;
	text-align: center;
}

#why-us .text-box{
	padding-top:80px;
}

.text-box h2{
	/* margin-bottom:2rem; */
	/* font-size: 1.5rem;
	font-weight: bold; */
}

.text-box h3{
	margin-bottom:2rem;
	font-size: 2rem;
}

.text-box h4{
	margin-bottom:2rem;
	font-size: 1.25rem;
}

.text-box p{
	margin-bottom:2rem;
	font-size: 1rem;
}


@media(min-width:767px){
	.text-box{text-align:left}
}

.center-text{
	text-align:center;
}

.left-text{
	text-align: left;
}

.left-to-center{
	text-align:center;
}


.rounded-corners{
	border-radius: 10px !important;

}

.footer-pic{
	width: 60%;

}

#footer-logo{
	margin-top: 5rem;
	display: flex;
}

@media(max-width:992px){
	.left-center{
		text-align:center;
	}
	#footer-logo{
		display: none;
	}

}



